h1{
    font-family: "playfair-Display", serif;
    font-weight: 900;
    font-style: italic;
    font-size: 7rem
}

h2{
    font-family: "playfair-display", serif;
    font-weight: 400;
    font-size: 2rem;
}

p{
    font-family: "Monserrat", serif;
    font-weight: 200;
    font-size: 1rem;
}